 <!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link href="{% static 'magicmusic/base.css' %}" rel="stylesheet" type="text/css">
        <title> {% block title %} Magic Music {% endblock %} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="shortcut icon" href="{% static 'authenticate/favicon.png' %}"/>
    </head>

    <body class="backgroundimage">
        <nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark">
            <ul class="navbar-nav mx-auto">
                <li style="font-size:30px;color:white;margin-top: 10px">Welcome to Magic Music</li>
            </ul>
        </nav>

        <div class="card text-white mx-auto" style="width:400px;margin-top: 100px;background:rgba(0,0,0,0.1)">
            <div class="card-header mx-auto">Sign In Magic Music</div>
            <div class="card-body">
                {% if form.errors %}
                    <p style="color:red">
                        Incorrect user name and password.
                    </p>
                {% endif %}
                <form method="post" action="{% url 'login' %}">
                    <table class="mx-auto">
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                    </table>
                    <p></p>
                    <button type="submit" class="btn btn-lg btn-secondary btn-block" value="Login">Login</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% csrf_token %}
                </form>
                <p></p>
            </div>
        </div> 
        
        <div class="card text-white mx-auto" style="width:400px;background:rgba(0,0,0,0.1)">
            <a href="{% url 'register' %}" class="mx-auto text-white">Create an account</a> 
        </div> 
    </body>
</html>