 <!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link href="{% static 'magicmusic/base.css' %}" rel="stylesheet" type="text/css">
        <title> {% block title %} Magic Music {% endblock %} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container-fluid" style="background-color:black;">
          <h1 class="text-center" style="color: white">Web App Magic Music</h1>
        </div>

        <div class="card bg-light text-dark mx-auto" style="width:400px">
            <div class="card-header mx-auto">Register for Magic Music</div>
            <div class="card-body">
                <form method="post" action="{% url 'register' %}">
                    <table>
                        {% for field in form.visible_fields %}
                            <tr>
                                <td>{{field.label_tag}}</td>
                                <td>{{field}}</td>
                                <td class="error">
                                    {% for error in field.errors %} {{error}} {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% csrf_token %}
                    <p></p>
                    <button type="submit" class="btn btn-lg btn-secondary btn-block" value="Register">Register</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div> 
    </body>
</html>
