{% extends "community/base.html" %}
{% block styleSheet %}
    {% load staticfiles %}
    <link href="{% static 'community/globalStream.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block navbar %}
    <div class="banner">
        <div class="navbar navbar-inverse my-nav-bar" role="navigation">
            <div class="navbar-header">
                <a href="{% url "home" %}" class="navbar-left">
                    <img class="navbar-logo" alt="music magician" src={% static "community/favicon.png" %}>
                </a>
            </div>
            <div class="navbar-header">
                <a href="{% url "home" %}" class="navbar-brand my-navbar-header">
                    music magicians
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home my-icon"></span>Home</a></li>
                <li class="dropdown">
                  <a href="" data-toggle="dropdown" class="dropdown-toggle">
                      <span class="glyphicon glyphicon-user my-icon"></span>{{ user.username }}<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu my-menu">
                    <li><a class="option" href="{% url 'profile' user.profile.id %}">Profile</a></li>
                    <li><a class="option" href="{% url 'following-users' user.profile.id %}">Following</a></li>
                    <li><a class="option" href="{% url 'profile-setting' %}">Setting</a></li>
                    <li><a class="option" href="{% url 'mymusic' %}">Workspace</a></li>
                  </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="logout"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out my-icon"></span>Log Out</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="my-bg-pic"></div>
    <div class="songs">
        <div class="container">
            <div class="songs-head">
                <h2 class="big-head">New Song Delivery</h2>
{#                <p class="small-head">Hear the lastest voice from the music world</p>#}
            </div>

            {% for song in songs %}
                <div class="row">
                    <div class="col-md-2 col-md-offset-1 song-top">
                        <h4><a href="{% url 'profile' song.creator.id %}" class="profile-link">{{ song.creator.user.username }}</a></h4>
                    </div>
                </div>

                <div class="row song-block-row">
                    <div class="col-md-1 col-md-offset-1 song-left">
                        <a href="{% url 'profile' song.creator.id %}">
{#                            <img src="{% url 'profile-avatar' song.creator.id %}" class="img-responsive img-rounded global-song-img">#}
                            <img src="{{ song.creator.avatar.url }}" class="img-responsive img-rounded global-song-img">
                        </a>
                    </div>
                    <div class="col-md-8 song-right">
                        <span class="song-name">{{ song.name }}</span><span class="song-detail">created at {{ song.creation_time }}</span>
                        <p class="song-desc">{{ song.description }}</p>
                        <div class="btn-group my-btn-group">
                            <button type="button" class="btn btn-default song-btn">
                                <audio controls><source src="{{ MEDIA_URL }}{{ song.songfile }}" type="audio/wav"></audio>
                            </button>
                            <button type="button" class="btn btn-default song-btn"><span class="glyphicon glyphicon-heart-empty button-icon"></span>{{ song.likes }}</button>
                            <button type="button" class="btn btn-default song-btn"><span class="glyphicon glyphicon-edit button-icon"></span>{{ song.edit_counts }}</button>
                        </div>

                        <div>
                            <form role="form" action="{% url 'add-comment' song.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group comment-form">
                                    <div class="input-group">
                                        <label class="sr-only" for="user1">write a comment:</label>
{#                                        <input type="text" id="user1" class="form-control comment-textbox" placeholder="write a comment...">#}
                                        {% for field in comment_form.visible_fields %}
                                            {{ field }}
                                        {% endfor %}
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-send comment-icon"></span></button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div>
                            <table class="comment-block">
                                {% for comment in comments %}
                                    {% if comment.parent_song == song %}
                                        <tr class="single-comment-row">
{#                                            <td class="avatar-cell"><img class="comment-user-avatar" src="{% url 'profile-avatar' comment.creator_profile.id %}"></td>#}
                                            <td class="avatar-cell"><img class="comment-user-avatar" src="{{ comment.creator_profile.avatar.url }}"></td>
                                            <td class="content-cell">
                                                <a href="{% url 'profile' comment.creator_profile.id %}" class="comment-username">{{ comment.creator_profile.user.username }}:</a>
                                                <span class="comment-content">{{ comment.text }}</span>
                                            </td>
                                            <td><span class="comment-time">{{ comment.creation_time }}</span></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}