{% extends "community/base.html" %}
{% block styleSheet %}
    {% load staticfiles %}
    <link href="{% static 'community/globalStream.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block navbar %}
    <div class="banner">
        <div class="navbar navbar-inverse my-nav-bar" role="navigation">
            <div class="navbar-header">
                <a href="#" class="navbar-left">
                    <img class="navbar-logo" alt="music magician" src={% static "community/favicon.png" %}>
                </a>
            </div>
            <div class="navbar-header">
                <a href="#" class="navbar-brand my-navbar-header">
                    music magicians
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#"><span class="glyphicon glyphicon-home my-icon"></span>Home</a></li>
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                      <span class="glyphicon glyphicon-user my-icon"></span>Jieying Xu<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu my-menu">
                    <li class="option"><a href="#">Profile</a></li>
                    <li><a class="option" href="#">Portfolio</a></li>
                    <li><a class="option" href="#">Following</a></li>
                  </ul>
                </li>
                <li class="pull-right"><a href="#"><span class="glyphicon glyphicon-log-out my-icon"></span>Log Out</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="songs">
        <div class="container">
            <div class="songs-head">
                <h2>New Song Delivery</h2>
                <p>Hear the lastest voice from the music world</p>
            </div>

            <div class="row">
                <div class="col-md-2 col-md-offset-1 song-top">
                    <h4><a href="{% url 'profile' %}" class="profile-link">Jieying Xu</a></h4>
                </div>
            </div>
            <div class="row song-block-row">
                <div class="col-md-1 col-md-offset-1 song-left">
                    <a href="{% url 'profile' %}">
                        <img src="{% static "community/images/user1.jpg" %}" class="img-responsive img-rounded global-song-img">
                    </a>
                </div>
                <div class="col-md-8 song-right">
                    <span><a href="#" class="song-name">hello world</a></span><span class="song-detail">created at 2018/4/10</span>
                    <p class="song-desc">A song specifically for programmers...</p>
                    <div class="btn-group my-btn-group">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play button-icon"></span>0</button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart-empty button-icon"></span>0</button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt button-icon"></span>0</button>
                    </div>
                    <form role="form" action="#" method="POST">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="sr-only" for="user1">write a comment:</label>
                                <input type="text" id="user1" class="form-control comment-textbox" placeholder="write a comment...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-edit comment-icon"></span></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-md-offset-1 song-top">
                    <h4><a href="{% url 'profile' %}" class="profile-link">Kejing Meng</a></h4>
                </div>
            </div>
            <div class="row song-block-row">
                <div class="col-md-1 col-md-offset-1 song-left">
                    <a href="{% url 'profile' %}">
                        <img src="{% static "community/images/user2.jpg" %}" class="img-responsive img-rounded global-song-img">
                    </a>
                </div>
                <div class="col-md-8 song-right">
                    <span class="song-name"><a href="#" class="song-name">Snow White</a></span><span class="song-detail">created at 2018/4/10</span>
                    <p class="song-desc">Pittsburgh is so COLD!</p>
                    <div class="btn-group my-btn-group">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play button-icon"></span>0</button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart-empty button-icon"></span>0</button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt button-icon"></span>0</button>
                    </div>
                    <form role="form" action="#" method="POST">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="sr-only" for="user2">write a comment:</label>
                                <input type="text" id="user2" class="form-control comment-textbox" placeholder="write a comment...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-edit comment-icon"></span></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}