{% extends "community/globalStream.html" %}
{% block styleSheet %}
    {% load staticfiles %}
    <link href="{% static 'community/globalStream.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'community/profile.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block user-info %}
{#    <div class="user-bg-pic">#}
    <div style="
{#            background: url({% url 'profile-bg' result_profile.id %});#}
            background: url({{ result_profile.header_image.url }});
            min-height: 310px;
            background-size: cover;
            margin-bottom: 40px;">
{#        <div><img class="user-avatar" src="{% url 'profile-avatar' result_profile.id %}" alt=""></div>#}
        <div><img class="user-avatar" src="{{ result_profile.avatar.url }}" alt=""></div>
        <div class="username-display">{{ result_profile.user.username }}</div>
        <div class="user-detail">
            <span><a href="{% url 'following-users' result_profile.id %}" class="user-follow">
                Following: {{ following_count }}
            </a></span>
{#            <span class="vertical-line"> | </span>#}
            {% if user == result_profile.user %}
                <form action="{% url 'profile-setting' %}"
                      method="GET">
                    <input type="submit" class="btn-dark mb-4" value="Setting"/>
                    {% csrf_token %}
                </form>
{#                <span><a href="{% url 'profile_setting' %}" class="user_follow">setting</a></span>#}
            {% elif not followed %}
                <form action="{% url 'follow' current_profile.id %}"
                      method="post">
                    <input type="submit" class="btn-dark mb-4" value="Follow"/>
                    {% csrf_token %}
                </form>
            {% else %}
                <form action="{% url 'unfollow' current_profile.id %}"
                      method="post">
                    <input type="submit" class="btn-dark mb-4" value="Unfollow"/>
                    {% csrf_token %}
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for song in songs %}
            <div class="row">
                <div class="col-md-1 song-number">{{ forloop.counter }}.</div>
                <div class="col-md-2 song-left">
{#                    <img src="{% url "song-cover" song.id %}" class="img-responsive img-rounded profile-song-img">#}
                    <img src="{{ song.cover.url }}" class="img-responsive img-rounded profile-song-img">
                </div>
                <div class="col-md-8 song-right">
                    <div class="profile-song-name">{{ song.name }}</div>
                    <div class="profile-song-time">{{ song.creation_time }}</div>
                    <div class="profile-song-desc">{{ song.description }}</div>
                    <div class="btn-group my-btn-group">
                        <button type="button" class="btn btn-default song-btn">
                            <audio controls><source src="{% url 'song' song.id %}" type="audio/wav"></audio>
                        </button>
                        <button type="button" class="btn btn-default song-btn"><span class="glyphicon glyphicon-heart-empty button-icon"></span>{{ song.likes }}</button>
                        <button type="button" class="btn btn-default song-btn"><span class="glyphicon glyphicon-download-alt button-icon"></span>{{ song.edit_counts }}</button>
                    </div>

                    <div>
                        <form role="form" action="{% url 'add-comment' song.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group comment-form">
                                <div class="input-group">
                                    <label class="sr-only" for="user1">write a comment:</label>
{#                                        <input type="text" id="user1" class="form-control comment-textbox" placeholder="write a comment...">#}
                                    {% for field in comment_form.visible_fields %}
                                        {{ field }}
                                    {% endfor %}
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-send comment-icon"></span></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <table class="comment-block">
                            {% for comment in comments %}
                                {% if comment.parent_song == song %}
                                    <tr class="single-comment-row">
{#                                            <td class="avatar-cell"><img class="comment-user-avatar" src="{% url 'profile-avatar' comment.creator_profile.id %}"></td>#}
                                        <td class="avatar-cell"><img class="comment-user-avatar" src="{{ comment.creator_profile.avatar.url }}"></td>
                                        <td class="content-cell">
                                            <a href="{% url 'profile' comment.creator_profile.id %}" class="comment-username">{{ comment.creator_profile.user.username }}:</a>
                                            <span class="comment-content">{{ comment.text }}</span>
                                        </td>
                                        <td><span class="comment-time">{{ comment.creation_time }}</span></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>

            </div>

        {% endfor %}
    </div>
{% endblock %}