{% extends "community/globalStream.html" %}
{% block styleSheet %}
    {% load staticfiles %}
    <link href="{% static 'community/globalStream.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'community/profile.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'community/profileSetting.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block user-info %}
{#    <div class="user-bg-pic">#}
    <div style="
{#            background: url({% url 'profile-bg' login_profile.id %});#}
            background: url({{ login_profile.header_image.url }});
            min-height: 300px;
            background-size: cover;
            margin-bottom: 40px;">
{#        <div><img class="user-avatar" src="{% url 'profile-avatar' login_profile.id %}" alt=""></div>#}
        <div><img class="user-avatar" src="{{ login_profile.avatar.url }}" alt=""></div>
        <div class="username-display">{{ login_profile.user.username }}</div>
    </div>
{% endblock %}

{% block content %}
    {% for error in form.non_field_errors %}
        <p style="color: deepskyblue">
            {{ error }}
        </p>
    {% endfor %}

    <form class="form-horizontal text-center profile-setting-form" role="form"
          enctype="multipart/form-data" method="POST" action="{% url 'profile-setting' %}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            <div class="col-md-3 col-md-offset-2 control-label my-form-label">
                {{ field.label_tag }}
            </div>
            <div class="col-md-4">
{#              <input type="submit" class="btn btn-default form-controls" id="inputPassword3" value="choose a header image">#}
                {{ field }}
            </div>
{#            <div class="col-md-3">#}
{#                {% if field.errors %} Invalid input! {% endif %}#}
{#            </div>#}
        </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-md-2 col-md-offset-5">
                <input type="submit" class="btn btn-default form-controls" value="Update Profile">
            </div>
        </div>
    </form>
{% endblock %}