<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load staticfiles %}
		<link href="{% static 'magicmusic/base.css' %}" rel="stylesheet" type="text/css">
		<title> {% block title %} Magic Music {% endblock %} </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>

	<body>
	    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <!-- Brand/logo -->
          <a class="navbar-brand" style="color: white" href="{% url 'profile' %}?username=' + '{{user.username}}' + '"">{{user.first_name}} {{user.last_name}}</a>
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
                <form action="{% url 'logout' %}" method="get">
                    <button type="submit" class="btn btn-primary btn-lg" value="Logout">Logout</button>
                </form>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mymusic' %}?username=' + '{{user.username}}' + '"">My Music</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'follower' %}?username=' + '{{user.username}}' + '"">Friends Music</a>
            </li>
          </ul>
        </nav>

		<div class="albums">
			{% block albums %}
			{% endblock %}
	    </div>

	    <div class="addsong">
			{% block addsong %}
			{% endblock %}
	    </div>

	    {% if message %}
	        <div class="message">
	            {{message}}
	        </div>
	    {% endif %}

	</body>
</html>
