<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load staticfiles %}
		<link href="{% static 'magicmusic/base.css' %}" rel="stylesheet" type="text/css">
		<title> {% block title %} Magic Music {% endblock %} </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>
	    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
          <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="navbar-brand" style="color: white;font-size: 30px" href="{% url 'profile' %}?username=' + '{{user.username}}' + '"">{{user.first_name}} {{user.last_name}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size: 20px;margin-top: 9px" href="{% url 'mymusic' %}?username=' + '{{user.username}}' + '"">Workspaces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size: 20px;margin-top: 9px" href="{% url 'follower' %}?username=' + '{{user.username}}' + '"">Community</a>
                </li>
            </ul>
          </div>

          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="get">
                    <button type="submit" class="btn bt-dark btn-sm" value="Logout">
                        <i class="material-icons" style="font-size:40px;color:black;">exit_to_app</i>

                    </button>
                </form>
                </li>
                <li style="font-size:20px;color:white;margin-top: 10px">Log out</li>
            </ul>
          </div>
        </nav>

		<div class="albums">
			{% block albums %}
			{% endblock %}
	    </div>

	    <div class="addsong">
			{% block addsong %}
			{% endblock %}
	    </div>

	    {% if message %}
	        <div class="message">
	            {{message}}
	        </div>
	    {% endif %}

	</body>
</html>
