{% extends "magicmusic/base.html" %}

{% block albums %}
    <p></p>
    <div class="card bg-light text-dark mx-auto" style="width:400px">
        <div class="card-body">
            <form method="get" action="{% url 'addworkspace' %}">
                <button type="submit" class="btn btn-lg btn-secondary btn-block" value="addworkspace">Add New Workspace</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <p></p>
    <div>
        {% for workspace in workspaces %}
            <div class="card bg-light text-dark mx-auto" style="width:400px">
                <div class="card-body">
                    <p>Workspace : <a href="{% url 'workspace' workspace.id %}" style="color:grey">{{workspace.name}}</a>
                    </p>
                </div>
            </div>
            <p></p>
        {% endfor %}
    </div>
{% endblock %}
