<!doctype html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link href="{% static 'magicmusic/base.css' %}" rel="stylesheet"
          type="text/css">
    <title> {% block title %} Magic Music {% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static 'magicmusic/favicon.png' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        table {
            overflow: hidden;
            margin-top: 150px;
        }

        .overlay {
            position: absolute;
            {#background: rgba(120, 35, 95, 0.7);#}
            padding: 0;
        }

        td.overlay.resize-container {
            display: inline-block;
            padding: 0px;
        }

        .resize-drag {
            background-color: #29e;
            color: white;
            border-radius: 4px;
            height: 100%;

            /* This makes things *much* easier */
            box-sizing: border-box;
        }
        .fixed-top-2 {
            margin-top: 70px;
        }
    </style>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" style="color: white;font-size: 30px" href="{% url 'profile' user.profile.id %}">{{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 20px;margin-top: 9px" href="{% url 'mymusic' %}">Workspaces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 20px;margin-top: 9px" href="{% url 'home' %}">Community</a>
            </li>
        </ul>
      </div>

      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form action="{% url 'logout' %}" method="get">
                <button type="submit" class="btn bt-dark btn-sm bg-transparent" value="Logout">
                    <i class="material-icons" style="font-size:40px;color:white;">exit_to_app</i>
                </button>
            </form>
            </li>
            <li style="font-size:20px;color:white;margin-top: 10px">Log out</li>
        </ul>
      </div>
    </nav>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top-2">
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="button" class="btn btn-light btn-sm save">
                        <a href="{% url 'mymusic' %}"><i class="material-icons" style="font-size:50px;color:grey;">reply_all</i></a>
                    </button>
                </li>
                <li style="font-size:15px;color:grey;margin-top: 20px">Back to Workspaces</li>
            </ul>
        </div>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form method="post">
                        <button type="button" class="btn btn-light btn-sm save" onclick="trackSaveButtonOnClick({{ trackID }})">
                            <i class="material-icons" style="font-size:50px;color:grey;">save</i>
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-light btn-sm" onclick="trackPlayButtonOnClick({{ trackID }})">
                        <i class="material-icons" style="font-size:50px;color:grey;">play_circle_outline</i>
                    </button>
                </li>
                <li class="nav-item d-none">
                    <audio controls id="audio-main">
                        <source src="{{ MEDIA_URL }}audio/runtime-wavs/1_track_0.wav" type="audio/wav">
                        Your browser does not support the audio element.
                    </audio>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table table-dark">
        <tbody id="working-table">
        </tbody>
    </table>

    <input type="hidden" id="notes_blob_input" name="notes_blob_input" value="{{ notes_blob }}">

</body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/interactjs@1.3.3/dist/interact.min.js"></script>
<script src="{% static 'magicmusic/note-parser.js' %}"></script>

<script src="{% static 'magicmusic/track.js' %}"></script>
