 <!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link href="{% static 'magicmusic/base.css' %}" rel="stylesheet" type="text/css">
        <title> {% block title %} Magic Music {% endblock %} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container-fluid" style="background-color:black;">
          <h1 class="text-center" style="color: white">Web App Magic Music</h1>
        </div>

        <table class="table table-dark" style="height: 1154px; width: 2400px; overflow: hidden">
          <thead>
            <tr class="border">
              <th scope="col" class="border">UNFINISHED CONTROL BAR --></th>
              <!-- <th scope="col" class="border">Play button here</th>
              <th scope="col" class="border">Stop Button here</th>
              <th scope="col" class="border">Tempo here</th> -->
            </tr>
          </thead>
          <tbody name="working-table">
              {% for i in "xxxxx" %}
              <tr class="border">
                <th scope="row" class="border">Note</th>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
              </tr>
              {% endfor %}

              <tr class="border">
                <th scope="row" class="border">Note</th>
                <td class="border"></td><td class="border bg-warning"></td><td class="border"></td><td class="border bg-warning"></td><td class="border"></td>
                <td class="border bg-warning"></td><td class="border bg-warning"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border bg-warning"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border bg-warning"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border bg-warning"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
              </tr>

              <tr class="border">
                <th scope="row" class="border">Note</th>
                <td class="border"></td><td class="border bg-warning"></td><td class="border"></td><td class="border bg-warning"></td><td class="border"></td>
                <td class="border bg-warning"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border bg-warning"></td><td class="border"></td><td class="border bg-warning"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border bg-warning"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border bg-warning"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
              </tr>

              <tr class="border">
                  <th scope="row" class="border">Note</th>
                  <td class="border"></td><td class="border"></td><td class="border"></td><td class="border bg-warning"></td><td class="border"></td>
                  <td class="border"></td><td class="border bg-warning"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                  <td class="border"></td><td class="border"></td><td class="border"></td><td class="border bg-warning"></td><td class="border"></td>
                  <td class="border"></td><td class="border bg-warning"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                  <td class="border"></td><td class="border"></td><td class="border"></td><td class="border bg-warning"></td><td class="border"></td>
                  <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                  <td class="border "></td><td class="border"></td><td class="border bg-warning"></td><td class="border"></td><td class="border"></td>
                  <td class="border"></td><td class="border"></td><td class="border bg-warning"></td><td class="border"></td><td class="border"></td>
                  <td class="border"></td><td class="border bg-warning"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                  <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                  <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                  <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                </tr>

              {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
              <tr class="border">
                <th scope="row" class="border">Note</th>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
                <td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td><td class="border"></td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
    </body>
</html>

<script>
  // var chi = $("#working-table").child;
  // var clonedRow = $('tbody tr:first').clone();
  // var clonedRow = $('#working-table').find("tr:first").clone();
  var clonedRow = $(this).closest('table').find(' tbody tr:first')
  // chi.clone().appendTo("#working-table");
  // $(this).prev().find($('table tbody')).append(clonedRow);
  $("#working-table").append(clonedRow);
</script>