 <!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link href="{% static 'magicmusic/base.css' %}" rel="stylesheet" type="text/css">
        <title> {% block title %} Magic Music {% endblock %} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container-fluid" style="background-color:black;">
          <h1 class="text-center" style="color: white">Web App Magic Music</h1>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="card bg-light text-dark mx-auto" style="width:100px">
              <div class="card-body">
                <div class="btn-group-vertical" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-dark">   </button>
                  <button type="button" class="btn btn-white">   </button>
                  <button type="button" class="btn btn-dark">   </button>
                  <button type="button" class="btn btn-white">   </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card bg-light text-dark mx-auto" style="width:1000px">
              <div class="card-body">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                  <button type="button" class="btn btn-secondary">   </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>